@import "sass/mixins";

%heading {
  font-family: 'futura-pt-1', 'futura-pt-2', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

%content {
//  font-family: "chaparral-pro-1", "chaparral-pro-2", Georgia, serif;
  font-family: "source-code-pro-1","source-code-pro-2", monospace;
  color: #505050;
}

%outer-container {
  max-width: 40em;
  max-width: 40rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000;
}

p em, p i {
  font-weight: bold;
  font-style: normal;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #ebebeb;
}

.u-center-mobile {
  @include bp-small {
    text-align: center;
  }
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
  @extend %content;
}

.pure-g, .pure-g-r {
  @extend %outer-container;
  @extend %content;
  letter-spacing: normal;

  [class*="pure-u"] .pure-menu,
  [class*="pure-u"] .header-position {
    @extend %heading;
  }
  h2, h3 {
    @extend %heading;
    color: #333;
  }
}

.header-name {
  color: #333333;
  @extend %heading;
  @include rem(font-size, 24);
}
.header-firstname {
  font-weight: 700;
}
.header-lastname {
  font-weight: 300;
}
.header-position {
  @include rem(font-size, 16);
  color: #666;
}

// Content
.content {
  @include bp-small {
    @include rem(padding, 10);
  }
  @include bp-large {
    @include rem(min-height, 500);
  }

  p {
    margin-bottom: 1.25rem;
  }
}

// Footer
.footer {
  @extend %heading;
  @include bp-small {
    @include rem(padding, 10);
  }
  @include bp-large {
    position: static;
    bottom: 0;
    left: 0;
  }
}
.footer-container {
  @extend %outer-container;
}
.footer-arrowbox {
  position: relative;
  background: #ffffff;
  border: 2px solid #333;
  margin: 0 auto;
  &:after, &:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:after {
    border-top-color: #ffffff;
    border-width: 16px;
    left: 50%;
    margin-left: -16px;
  }
  &:before {
    border-top-color: #333;
    border-width: 19px;
    left: 50%;
    margin-left: -19px;
  }
  a {
    display: block;
    @include rem(margin-right, 4px);
    text-align: right;
    color: #333;
    text-decoration: none;
  }
}
.footer-joke {
  @include rem(font-size, 12);
  font-weight: 200;
  @include rem(margin-top, 20);
}
.contact {
  font-weight: 700;
  background: black;
  color: white;
  margin: 0 auto;
  text-align: center;
  text-transform: lowercase;
  @include rem(margin-top, 20);
  @include rem(padding, 2);
}

.pure-menu {
  &.pure-menu-open {
    background: transparent;
  }
  li a:hover, li a:focus {
    background: lighten(#ebebeb, 20%);
  }
}