@import "sass/mixins";
$em: 1;
$font-content: 'PT Serif', serif;

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    /* Set your content font stack here: */
  font-family: $font-content;
}

%sans-font {
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

%outer-container {
  max-width: 40em;
  max-width: 40rem;
  margin: 0 auto;
}

.pure-g, .pure-g-r {
  @extend %outer-container;
  font-family: $font-content;
  letter-spacing: normal;

  [class*="pure-u"] .pure-menu,
  [class*="pure-u"] .header-position {
    @extend %sans-font;
  }
  h2 {
    font-family: 'Avenir Next', Helvetica, sans-serif;
  }
}

.u-center-mobile {
  @include bp-small {
    text-align: center;
  }
}

.header-name {
  color: #333333;
  font-family: 'Avenir Next', 'HelveticaNeue';
  @include font-size(24px);
  @extend %center-mobile;
}
.header-firstname {
  text-decoration: none;
  font-weight: 700;
  color: #333;
}
.header-lastname {
  font-weight: 300;
}
.header-position {
  @include font-size(16px);
  color: #666;
  @extend %center-mobile;
}

.content {
  padding: calculateRem(10px);
  @include bp-large {
    min-height: calculateRem(500px);
  }

  p {
    margin-bottom: 1.25rem;
  }
}

.footer {
  @extend %sans-font;
  @include bp-large {
    position: static;
    bottom: 0;
    left: 0;
  }
}
.footer-container {
  @extend %outer-container;
}
.footer-arrowbox {
  position: relative;
  background: #ffffff;
  border: 2px solid #333;
  margin: 0 auto;
  &:after, &:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:after {
    border-top-color: #ffffff;
    border-width: 16px;
    left: 50%;
    margin-left: -16px;
  }
  &:before {
    border-top-color: #333;
    border-width: 19px;
    left: 50%;
    margin-left: -19px;
  }
  a {
    display: block;
    margin-right: 4px/$em;
    text-align: right;
    color: #333;
    text-decoration: none;
  }
}
.footer-joke {
  font-size: 12px/$em;
  font-weight: 200;
  margin-top: 20px/$em;
}
.contact {
  font-weight: 700;
  background: black;
  color: white;
  margin: 0 auto;
  text-align: center;
  text-transform: lowercase;
  margin-top: 20px/$em;
  padding: 2px/$em;
}
