@import "sass/mixins";

%heading {
  font-family: 'adobe-garamond-pro-1', 'adobe-garamond-pro-2', serif;
}

%content {
//  font-family: "chaparral-pro-1", "chaparral-pro-2", Georgia, serif;
  font-family: "source-code-pro-1","source-code-pro-2", monospace;
  color: #505050;
}

%outer-container {
  @include rem(max-width, 640);
  margin: 0 auto;
}

a {
  color: #000;
}

p em, p i {
  font-weight: bold;
  font-style: normal;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #ebebeb;
}

.u-center-mobile {
  @include bp-small {
    text-align: center;
  }
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
  @extend %content;
}

.pure-g, .pure-g-r {
  @extend %outer-container;
  @extend %content;
  letter-spacing: normal;

  [class*="pure-u"] .pure-menu,
  [class*="pure-u"] .header-position {
    @extend %heading;
  }
  h2, h3 {
    @extend %heading;
    color: #333;
  }
}

.header-title, .header-nav {
  @include rem(margin-top, 20);
}
.header-link {
  text-decoration: none;
}
.header-name {
  color: #333333;
  @extend %heading;
  @include rem(font-size, 24);
}
.header-firstname {
  font-weight: 700;
}
.header-lastname {
  font-weight: 300;
}
.header-position {
  @include rem(font-size, 16);
  font-style: italic;
  color: #666;
}

%post-title {
  @include rem(margin, 0);
  a {
    @include rem(margin-top, 20);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.post {
  @include rem(margin-bottom, 70);
  h2 {
    @extend %post-title;
  }
}

.post-title {
  @extend %post-title;
}

.post-date, .post .meta {
  @extend %heading;
  font-style: italic;
  margin-top: 0;
}
.post-excerpt {
  @include rem(margin-top, 15)
}

// Content
.content {
  @include bp-small {
    @include rem(padding, 10);
  }
  @include bp-large {
    @include rem(min-height, 500);
    @include rem(margin-top, 50);
  }

  p {
    @include rem(margin, 10, 0)
  }
}

// Footer
.footer {
  @extend %heading;
  @include bp-small {
    @include rem(padding, 10);
  }
  @include bp-large {
    position: static;
    bottom: 0;
    left: 0;
  }
}
.footer-container {
  @extend %outer-container;
}
.footer-arrowbox {
  position: relative;
  background: #ddd;
  margin: 0 auto;
  @include rem(padding, 15);
  &:after, &:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:after {
    border-top-color: #ddd;
    border-width: 16px;
    left: 50%;
    margin-left: -16px;
  }
  &:before {
    border-width: 19px;
    left: 50%;
    margin-left: -19px;
  }
}
.footer-link {
  display: block;
  text-align: right;
  color: #333;
  text-decoration: none;
}
.footer-joke {
  @include rem(font-size, 12);
  font-weight: 200;
  @include rem(margin-top, 20);
  em {
    font-weight: normal;
    font-style: italic;
  }
}
.footer-contact {
  font-weight: 700;
  background: #555;
  color: white;
  margin: 0 auto;
  text-align: center;
  text-transform: lowercase;
  @include rem(margin-top, 20);
  @include rem(padding, 2);
}

.pure-menu {
  &.pure-menu-open {
    background: transparent;
  }
  li a:hover, li a:focus {
    background: lighten(#ebebeb, 20%);
  }
}
