<!doctype html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>{{ page.title }}</title>
  <meta name="author" content="{{ site.author.name }}" />
  <link href="http://feeds.feedburner.com/username" rel="alternate" title="Jeduan" type="application/atom+xml" />
  <link rel="stylesheet" href="/assets/main.css"/>
  <script type="text/javascript" src="//use.typekit.net/feb8ivd.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <!-- <script src="/assets/js/modernizr.min.js"></script> -->
</head>

<body lang="en">
  <div class="pure-g-r">
    <div class="header-title pure-u-2-3 u-center-mobile">
      <div class="header-name">
        <a href="/" class="header-link">
          <span class="header-firstname">{{ site.title }}</span>
          <span class="header-lastname">Cornejo</span>
        </a>
      </div>
      <div class="header-position u-center-mobile">
        Full stack developer in Mexico City
      </div>
    </div><nav class="pure-u-1-3 header-nav">
      <div class="pure-menu pure-menu-horizontal pure-menu-open">
        <ul>
          <li{% if page.url == '/about/index.html' %} class="pure-menu-selected"{% endif %}>
            <a href="/about">About me</a>
          </li>
          <li{% if page.url == '/archive/index.html' %} class="pure-menu-selected"{% endif %}>
            <a href="/archive">Posts</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="content" class="pure-u-1">
      {{ content }}
    </div>
  </div>

  <footer class="footer pure-u-1">
    <div class="footer-container">
      <div class="footer-arrowbox">
        <a class="footer-link" href="http://twitter.com/{{ site.author.twitter }}/">@{{ site.author.twitter }}</a>
        <a class="footer-link" href="http://github.com/{{ site.author.github }}/">github.com/{{ site.author.github }}</a>
        <a class="footer-link" href="http://linkedin.com/in/jeduan" class="icon linkedin">linkedin.com/in/jeduan</a>
      </div>
      <div class="footer-contact">Contact</div>
      <p class="footer-joke">In case you were wondering, yes, <em>
        really
      </em> my name is Jeduan</p>
    </div>
  </footer>
  {% if site.safe %}
  {% include production/analytics.html %}
  {% endif %}

</body>

</html>
